@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}*/

body {
    @apply bg-gray-50 h-screen pt-14;
}

@layer components {
    .button-primary {
        @apply py-1.5 px-4 text-sm font-semibold rounded-md bg-red-100 text-red-800 transition hover:bg-red-200 ease-in-out
    }
}

.p-content {
    @apply w-[100%] md:w-[60%] xl:w-[65%]
}

.p-info {
    @apply w-[100%]
}

@media (min-width: 768px) {
    .p-info {
        width: calc(40% - 32px);
    }
}

@media (min-width: 1280px) {
    .p-info {
        width: calc(35% - 32px);
    }
}